<div class="page-header">
  <h1> Get your stalk on </h1>
</div>
	<p> This site is designed for anyone who has ever been asked "what's the weather like up there?" or "Are you Basketballer?" </p>

	<p>At 2 metres tall (hence 2 Metre Peter) I understand your pain, and created a place where us vertically superior folk can share all the photos we've otherwise been too embarrassed to post on social media. </p>