<div class="jumbotron">
	<h1>G'day mate!</h1>
	<p>Welcome to 2mp's site. It's like Pinterest, only taller #heightjokes.</p>
	<p><%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>
